<div class="row">
    <div class="col-md-12 justify-content-center fs-1">
        <div class="my-3">
            <!-- <app-counter-output [counterProps]="counter"></app-counter-output> -->
            <app-counter-output></app-counter-output>
        </div>

        <div class="my-3">
            <!-- <app-counter-buttons (emitIncrement)="onIncrement()" (emitDecrement)="onDecrement()"
                (emitReset)="onReset()"></app-counter-buttons> -->
            <app-counter-buttons></app-counter-buttons>
        </div>

        <div class="my-3">
            <!-- <app-counter-buttons (emitIncrement)="onIncrement()" (emitDecrement)="onDecrement()"
                (emitReset)="onReset()"></app-counter-buttons> -->
            <app-custom-counter-input></app-custom-counter-input>
        </div>
    </div>
</div>